{% extends 'base.html' %} {% block content %}
<main class="recipe-grid">
  {% for user in users %} {% if user.recipes.all %}
  <div class="recipe-card">
    <h2 class="recipe-card-title">
      Recipes by:
      <p>{{ user }}</p>
    </h2>
    {% for recipe in user.recipes.all %}
    <p class="recipe-card-date">
      <li>
        <a href="{% url 'recipe_detail' recipe.pk %}">{{ recipe }}</a>
      </li>
    </p>
    {% endfor %}
  </div>
  {% endif %} {% endfor %}
</main>
{% endblock content %}
