{% extends 'base.html' %}
{% block content %}
    <main class="recipe-detail">
      <div>
        <a href="{% url "meal_plan_edit" mealplan.id %}">Edit</a>
        <a href="{% url "meal_plan_delete" mealplan.id %}">Delete</a>
      </div>
      <h1>{{ mealplan.name }}</h1>
      <h3>Owner: {{ mealplan.owner | default_if_none:"Unknown" }}
      <p>Date to Serve: {{ mealplan.date }}</p>
      <p>{% for recipe in mealplan.recipes.all %}<a href="{% url 'recipe_detail' recipe.pk %}">{{ recipe }}</a>
        / {% endfor %}
      </p></h3>
    </main>
{% endblock content %}